/* course style start  */
.my-course
{
    max-width: 1350px;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.course{width: 100%;}

.course:nth-child(1) h1 {border-bottom: 3px solid black;text-align: center;}

.course:nth-child(2) 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: .5rem 0;
}
.course:nth-child(2) .course-info:nth-child(1){display: flex; justify-content: center; margin: .3rem 0;}
.course:nth-child(2) .course-info:nth-child(1) img {width: 82%; height: 100%; object-fit: cover; text-align: center;}
.course:nth-child(2) .course-info {width: 50%;}
.course:nth-child(2) .course-info:nth-child(2){ background: #B4E4FF; padding: 10px;}
.course:nth-child(2) .course-info:nth-child(2) p{text-align: justify; line-height: 1.8rem;}
.course:nth-child(2) .course-info:nth-child(2) .modules .modules-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}
.course:nth-child(2) .course-info:nth-child(2) .modules .modules-info p{margin:0 10px;}
.course:nth-child(3) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.course:nth-child(3) .course-box:nth-child(1){
    position: relative;
    width: 100%;
    background: #002F4E;
    color: white;
}

#module_1,#module_2,#module_3,#module_4,#module_5
{
    text-transform: capitalize;
    margin: 0 2px;
    cursor: pointer;
}

.course:nth-child(3) .course-box:nth-child(1) i { display: none;}

.course:nth-child(3) .course-box:nth-child(1) ul
{
    display: flex;
    justify-content: center;
}

.course:nth-child(3) .course-box:nth-child(1) ul li {padding: 10px;}
.course:nth-child(3) .course-box:nth-child(1) ul .active_2 {background: white; color: #002F4E;}
.course:nth-child(3) .course-box:nth-child(2)
{
    width: 100%;
    position: relative;
    background:#002F4E;
    color: white;
    padding-bottom: 10px;
}
.course:nth-child(3) .course-box:nth-child(2) .course-modul.active_1{
    display: block;
}
.course:nth-child(3) .course-box:nth-child(2) .course-modul{
    width: 100%;
    padding: 20px 0;
    height: auto;
    display: none;
    background: white;
    color: #002F4E;
}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box
{
    width: 100%;
}


.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(1) ul
{
    width: 100%;
    display: flex;
    justify-content:space-evenly ;
}


.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(1) ul li div
{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
}
.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(1) ul li div span{font-weight: bolder; margin:0 5px;}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2){
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 4px auto;
    background: #FE6244;
}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question div:nth-child(1)
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question div p,
.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question div i
{
    font-size: 22px;
    margin: 8px 10px;
    color: white;
}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question .answer{
    color: black;
    font-size: 18;
}

.course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question .answer
{
    display: none;
    background: white;
    cursor: text;
}

@media only screen and (max-width:1100px) {
.my-course .course:nth-child(3) .course-box:nth-child(2) .modul-box:nth-child(1) ul{flex-direction: column;}
.my-course .course:nth-child(3) .course-box:nth-child(2) .modul-box:nth-child(1) ul li{margin: .5rem 0;}
}

@media only screen and (max-width:900px) {
    .course:nth-child(2) .course-info {width: 100%;}
    .course:nth-child(2) .course-info:nth-child(1) img {width: 50%; height: 100%; object-fit: cover; text-align: center;} 
    .course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(2) .question{width: 100%;}
}

@media only screen and (max-width:450px)
{
    .course:nth-child(3) .course-box:nth-child(1) i{
        display: flex;
        flex-direction: row-reverse;
        margin: 10px 10px;
        font-size: 2rem;
        cursor: pointer;
    }
    .course:nth-child(3) .course-box:nth-child(1) .modules{display: none;flex-direction: column;}
}

@media only screen and (max-width:480px)
{ 
    .course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(1) ul li div{
        flex-direction: column;
        align-items: start;
        margin:0 1rem;
    }

    .course:nth-child(3) .course-box:nth-child(2) .course-modul .modul-box:nth-child(1) ul li div span{margin: 0;}
}
/* course style end  */