<section class="my-portfolio">
    <div class="portfolio-box">
        <div class="box-item"><h1>УЕБ ДИЗАЙН</h1></div>
        <div class="box-item">
            <div class="item">
                <div class="item-img">
                    <img src="../../../../assets/images/portfolio/webdesign/img_1.webp" alt="">
                    <div class="image-options">
                        <img src="../../../../assets/images/portfolio/webdesign/img_2.webp" alt="">
                        <img src="../../../../assets/images/portfolio/webdesign/img_3.webp" alt="">
                        <img src="../../../../assets/images/portfolio/webdesign/img_4.webp" alt="">
                        <img src="../../../../assets/images/portfolio/webdesign/img_5.webp" alt="">
                        <img src="../../../../assets/images/portfolio/webdesign/img_6.webp" alt="">
                    </div>
                </div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_2.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_3.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_4.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_5.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_6.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_7.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_8.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
            <div class="item">
                <div class="item-img"><img src="../../../../assets/images/portfolio/webdesign/img_9.webp" alt=""></div>
                <div class="item-view"><button class="open-modal-btn"><i class="fa-sharp fa-solid fa-eye"></i></button></div>                
            </div>
        </div>
        <div class="box-item"><button>ВИЖ ОЩЕ</button></div>
    </div>


</section>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>This is a modal!</p>
      <img src="" alt="" id="imageFlash">
    </div>
</div>