<ng-container *ngIf="jsonData$ | async as jsonData">
<footer>
  <div class="footer-content">
    <div class="footer-logo">{{ jsonData[0]?.footerLogo }}</div>
    <p class="welcome-text">
      {{ (jsonData$ | async)?.welcomeText }}
      <a href="#">{{ jsonData[1]?.welcomeLink }}</a>
    </p>

    <div class="address-section">
      <h4>{{ (jsonData$ | async)?.addressTitle }}</h4>
      <p>{{ (jsonData$ | async)?.address }}</p>
      <h4>{{ (jsonData$ | async)?.phoneTitle }}</h4>
      <ul>
        <li *ngFor="let number of (jsonData$ | async)?.phoneNumbers">
          {{ number }}
        </li>
      </ul>
      <h4>{{ (jsonData$ | async)?.emailTitle }}</h4>
      <ul>
        <li *ngFor="let email of (jsonData$ | async)?.emailAddresses">
          {{ email }}
        </li>
      </ul>
    </div>

    <div class="social-media-section">
      <h4>Social Media</h4>
      <ul>
        <li *ngFor="let platform of (jsonData$ | async)?.socialMedia">
          <a href="{{ platform.link }}">
            <i class="{{ platform.icon }}"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="quick-links-section">
      <h4>{{ jsonData.quickLinksTitle }}</h4>
      <ul>
        <li *ngFor="let link of jsonData.quickLinks">
          <a [routerLink]="link.link">{{ link.title }}</a>
        </li>
      </ul>
    </div>

    <div class="popular-links-section">
      <h4>{{ jsonData.popularLinksTitle }}</h4>
      <ul>
        <li *ngFor="let link of jsonData.popularLinks">
          <a [routerLink]="link.link">{{ link.title }}</a>
        </li>
      </ul>
    </div>

    <!-- <div class="location-section">
      <h4>{{ (jsonData$ | async)?.locationTitle }}</h4>
      <iframe
      [src]="getSafeMapUrl((jsonData$ | async)?.mapEmbedUrl)"
        width="{{ (jsonData$ | async)?.locationMapWidth }}"
        height="{{ (jsonData$ | async)?.locationMapHeight }}"
        frameborder="0"
        style="border: 0"
        allowfullscreen
      ></iframe>
    </div> -->

    <div class="useful-links-section">
      <h4>{{ jsonData.usefulLinksTitle }}</h4>
      <ul>
        <li *ngFor="let link of jsonData.usefulLinks">
          <a [routerLink]="link.link">{{ link.title }}</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Footer rights reserved section -->
  <div class="footer-rights">
    <p>{{ jsonData.footerRightsReserved }}</p>
  </div>
</footer>
</ng-container>

