  
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 100%;
    color: #fff;
    background: rgb(8, 8, 8);
    overflow:hidden;
}
.footer-container:nth-child(1) {width: 25%;}
.footer-container:nth-child(2) 
  {
    /* background: blue; */
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-container:nth-child(3) {
    width: 100%;
    font-size: 16px;
    text-align: center;
    background: rgb(53, 53, 53);
    color: #fff;
    height: auto;
    padding: 1rem 0;
}

.footer-container:nth-child(2) .footer-section {width: 100;}
.footer-container:nth-child(2) .footer-section {width: 24%;}

.footer-logo
{
    margin: 1rem 0;
}

.footer-logo .header-box
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo .header-box .brand-name
{
    font-size: 25px;
    font-weight: bolder;
    color: white;
    letter-spacing: 1px;
    width:100%;
    margin: 0 1rem;
    text-transform: uppercase;
}

.footer-logo img
{
    width: 25%;
    height: auto;
}
.footer-logo a{
    color: #fff;
    text-decoration: underline;
  }
  
.footer-logo p {
    margin: .5rem 0;
    width: 100%;
    text-align: justify;
    line-height: 24px;
  }
  
.social-icons {
    width: 300px;
    margin: 1rem 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
.social-icons a:hover {
    background: rgb(7, 117, 207);
  }
  
.social-icon a {
    background: rgb(45, 153, 255);
    padding: .5rem 1rem;
    border-radius: 2px;
    transition: all .5s ease-in-out;
    cursor: pointer;
  }
  
.fa-arrow-right {
    margin-right: .5rem;
  }
  
.fas {
    margin-right: .5rem;
  }
  
.fa-sharp {
    margin-right: .5rem;
  }

.footer-section h1 {
    margin: 1rem;
    font-size: 20px;
}
  
.footer-section ul {
    list-style: none;
    margin: 1.5rem 0;
}
  
.footer-section li {
    margin: .5rem 0;
    transition: all .3s ease-in-out;
}
  
.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
  
.footer-section li:hover {
    text-decoration: underline;
    transform: translateX(10px);
    color: tomato;
}
  
.footer-section li:hover a
{
    color: tomato;
}

.footer-section .map {
    width: 100%;
    margin: auto auto;
    height: auto;
}   

@media (min-width:1110px) and (max-width:1500px){
    .footer-container:nth-child(1) {width: 30%;}
    .footer-container:nth-child(2) {width: 60%;}
    .footer-container:nth-child(2) .footer-section {width: 45%;}
}

@media (min-width:730px) and  (max-width:1109px){
    .footer-container:nth-child(1) {width: 90%;}
    .footer-container:nth-child(2) {width: 90%;}
    .footer-container:nth-child(2) .footer-section {width: 45%;}
}
  
@media (max-width:729px){
    .footer-container:nth-child(1) {width: 90%;}
    .footer-container:nth-child(2) {width: 90%;}
    .footer-container:nth-child(2) .footer-section {width: 99%;}
}
  

