<ng-container *ngIf="jsonData$ | async as jsonData">
  <footer>
    <div class="footer-container footer-wrapper">
      <div class="footer-section footer-logo">
        <img [src]="'../../assets/images/logo/' + jsonData[11]?.footerImgUrl" alt="Footer Logo" />
        <span class="sdm-name">{{ jsonData[11]?.footerLogo }}</span>
      </div>
      <p class="welcome-text">
        {{ jsonData[11]?.welcomeText }}
        <a href="#">{{ jsonData[11]?.welcomeLink }}</a>
      </p>
    
      <div class="address-section footer-section">
        <h3>{{ jsonData[11]?.addressTitle }}</h3>
        <p class="address"><i class="fas fa-location"></i>{{ jsonData[11]?.address }}</p>
        <h3>{{ jsonData[11]?.phoneTitle }}</h3>
        <ul>
          <li *ngFor="let number of jsonData[11]?.phoneNumbers">
            <a href="#" class="phone-numbers"><i class="fas fa-phone"></i>{{ number }}</a>
          </li>
        </ul>
        <h3>{{ jsonData[11]?.emailTitle }}</h3>
        <ul>
          <li *ngFor="let email of jsonData[11]?.emailAddresses">
            <a href="#" class="emails"><i class="fa-sharp fa-regular fa-envelope"></i>{{ email }}</a>
          </li>
        </ul>
      </div>
    
      <div class="social-media-section footer-section">
        <h3>Social Media</h3>
        <div class="social-icons">
          <a *ngFor="let platform of jsonData[11]?.socialMedia" class="social-icon" href="{{ platform.link }}">
            <i class="{{ platform.icon }}"></i>
          </a>
        </div>
      </div>
    
      <div class="quick-links-section footer-section quick-links">
        <h3>{{ jsonData[11]?.quickLinksTitle }}</h3>
        <ul>
          <li *ngFor="let link of jsonData[11]?.quickLinks">
            <a [routerLink]="link.link">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    
      <div class="popular-links-section footer-section popular-links">
        <h3>{{ jsonData[11]?.popularLinksTitle }}</h3>
        <ul>
          <li *ngFor="let link of jsonData[11]?.popularLinks">
            <a [routerLink]="link.link">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    
      <div class="useful-links-section footer-section useful-links">
        <h3>{{ jsonData[11]?.usefulLinksTitle }}</h3>
        <ul>
          <li *ngFor="let link of jsonData[11]?.usefulLinks">
            <a [routerLink]="link.link">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- Footer rights reserved section -->
    <div class="footer-rights footer-section">
      <p>{{ jsonData[11]?.footerRightsReserved }}</p>
    </div>
    
