* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-8 {
  width: 66.6667%;
  margin: 0 auto;
}

.col-12 {
  width: 100%;
}

.text-center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.software-products p {
  margin-top: 1rem;
}

.animated {
  opacity: 0;
  animation: fadeIn 1s linear forwards;
}

.team-section {
  margin-top: 20px;
}

.team-member {
  text-align: center;
  margin-bottom: 20px;
}

.member-card {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.member-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.member-card:hover .member-info {
  opacity: 1;
}

.member-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.member-info h3,
.member-info p {
  color: #fff;
  margin: 5px;
  font-size: 18px;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

i.fa-solid {
  animation: blink 1s linear infinite;
}