<div class="container">
    <div class="row">
        <div class="col-8 mx-auto animated"><h1 class="text-center">ЗА НАС</h1></div>
        <div class="col-12 animated">
            <h3>История и цел на компанията:</h3>
            <p style="text-align: justify;line-height: 1.8rem;">Компанията "СДМ БГ КОНСУЛТ" е създадена през 2022г. с цел да бъде лидер в дигиталния свят. 
            Ние сме специализирани в разработването на сайтове, онлайн магазини, корпоративни сайтове и други софтуерни и дизайнерски решения. Ние сме съсредоточени в областта на дизайна и 
            програмирането, където сме си обогатили нашите основни знания и умения спрямо тези сфери. Ние сме готови да рарзработваме иновативни и привлекателни 
            решения за нашите потенциални клиенти. Ние също така предлагаме курсове и обучения по програмиране, графичен и интериорен дизайн, за да 
            подготвим нашите клиенти за бъдещето в дигиталния свят. Нашата основна цел е да помогнем на нашите клиенти да достигнат успех в онлайн 
            пространството и да бъдем вашият доверител и партньор в това направление.Това не е всичко, ние също така предлагаме SEO оптимизация,
            поддръжка на сайтове, създаване на лого, брошури и други дизайн проекти, за да може да поддържаме нашите клиенти и да им осигурим 
            най-доброто качество."
            </p>
        </div>
        <div class="col-12 animated">
            <h3>Нашите основни софтуерни продукти за момента:</h3>
            <div class="software-products animated">
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Дизайн на сайтове</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Разработка на сайтове</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Софтуерни приложения</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Подръжка на сайтове</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> SEO Оптимизация</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Дизайн на лого</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Дизайн на брошури</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Дизайн на визитки</p>
            </div>
        </div>
        <div class="col-12 animated">
            <h3>Нашите основни курсове за момента:</h3>
            <div class="software-products animated">
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Курс по C++</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Курс по Python</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Курс по Full Stack</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Курс по Fornt End</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Курс по Back End</p>
              <p style="text-align: justify;line-height: 1.8rem;"><i class="fa-solid fa-check"></i> Курс по Интериорен дизайн</p>
            </div>
        </div>
    </div>
  </div>
