<section class="my-services">
    <div class="service"><h1>Дизайн На Визитки</h1></div>
    <div class="service">
      <div class="service-box"><img src="../../../../../assets/images/services_IMG/business-card.webp" alt=""></div>
      <div class="service-box">
        <p>Добре дошли в нашата компания за дизайн на визитки! Ние предлагаме иновативни и креативни решения, които ще направят вашата визитка запомняща се и уникална. Разбираме, че всеки бизнес има специфични нужди и идентичност, затова предлагаме три плана - Стандарт, Премиум и Бизнес - за да съответстваме на вашите изисквания и бюджет.</p>
        <p>Стандартният план включва базов дизайн на визитка, който отразява основните ви ценности и бизнес идентичност. Премиум планът предлага по-детайлен дизайн, който включва допълнителни визуални елементи и креативни решения. Бизнес планът предлага пълен пакет услуги за дизайн на визитки, включително персонализирани графики, премиум материали и консултации по стил и маркировка.</p>
        <p>Нашите услуги включват дизайн на визитки, консултации за бранд стил, създаване на персонализирани графики и др. Нашите професионални дизайнери ще работят с вас, за да разберем вашата визия и да я превърнем в визуално атрактивна и професионална визитка.</p>
        <p>Нашите експерти по дизайн са ангажирани с всеки детайл от създаването на вашата визитка - от цветовата палитра и типографията до избора на материали и финалното изпълнение. Всички наши проекти се изработват според най-новите тенденции в областта на графичния дизайн.</p>
        <p>Свържете се с нас днес, за да започнете създаването на вашата уникална и професионална визитка, която ще ви помогне да се откроявате и да оставяте силно впечатление при вашите клиенти!</p>
      </div>
    </div>
    <div class="service">
      <div class="plans">
        <div class="box-info">
          <h2>Стандартен</h2>
        </div>
        <div class="box-button">
          <a href="business-cards-plans/standart">преглед</a>
        </div>
      </div>
      <div class="plans">
        <div class="box-info">
          <h2>Премиум</h2>
        </div>
        <div class="box-button">
          <a href="web-design-plans/premium">преглед</a>
        </div>
      </div>
      <div class="plans">
        <div class="box-info">
          <h2>Бизнес</h2>
        </div>
        <div class="box-button">
          <a href="web-design-plans/bussines">преглед</a>
        </div>
      </div>
    </div>
  </section>