<section class="plans">
  <div class="plan-content"><h1>Направи Заявка</h1></div>
  <div class="plan-content">
      <div class="plan-box">
          <h1>Стандартен</h1>
          <small>план</small>
      </div>
      <div class="plan-box">
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-check green"></i>
              <p>1 Концепция за дизайн</p>
          </div>
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-xmark red"></i>
              <p>Социална интеграция</p>
          </div>
          <div class="apporate">
                  <i class="fa-sharp fa-solid fa-check green"></i>
              <p>Бизнес социална интеграция</p>
          </div>
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-xmark red"></i>
              <p>Хостинг и домейн</p>
          </div>
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-check green"></i>
              <p>Комуникационни форми</p>
          </div>
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-xmark red"></i>
              <p>Административен панел</p>
          </div>
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-xmark red"></i>
              <p>SEO оптимизация</p>
          </div>
          <div class="apporate">
              <i class="fa-sharp fa-solid fa-xmark red"></i>
              <p>Отзивчивост</p>
          </div>
      </div>
      <div class="plan-box">
          <p>$ 150</p>
          <p>BGN</p>
      </div>
  </div>
  <div class="plan-content">
      <form action="">
          <input type="text" placeholder="Име" name="name" required>
          <input type="text" placeholder="Фамилия" name="family" required>
          <input type="email" placeholder="Имейл" name="email" required>
          <input type="tel" name="phone" id="phone" placeholder="Телефонен номер">
          <textarea placeholder="Съобщение" name="message" rows="5" required></textarea>
      </form>
  </div>
  <div class="plan-content">
      <button type="submit" form="myForm">Заяви</button>
  </div>
</section>
