<!-- slider-top start-->
<ng-container *ngIf="jsonData$ | async as jsonData">
  <section class="slider-top">
    <div class="slider-box">
          <ng-container *ngFor="let item of jsonData[13]?.getSliderTop">
            <div class="slider-right fade-right" [ngStyle]="{'background': item.bgFon}">
                <div class="slogan">
                  <h2 class="slideh1">{{item.text_1}}</h2>
                  <h3 class="slideh2">{{item.text_2}}</h3>
                </div>
            </div>
          </ng-container>
        </div>
    <div class="slider-box">
        <ng-container *ngFor="let item of jsonData[13]?.getSliderTop">
          <div class="slider-left fade-left">
              <img [src]="'../../../assets//images/sliderTop/' + item.slideName" alt="">
          </div>
        </ng-container>
      </div>
    <div class="btn-slider">
      <button class="prev"  onclick="plusSlides(-1)">❮</button>
      <button class="next"  onclick="plusSlides(1)">❯</button>
    </div>
  </section>
</ng-container>
<!-- slider-top end-->

<!-- my works start  -->
<section class="my-worsk" id="my-works" *ngIf="jsonData$ | async as jsonData">
  <!-- 1 -->
  <div class="work-content">
    <div class="my-offers">
      <div class="offers-box">
        <div class="tittle" ><h1>{{  jsonData[14]?.webDesOffers}}</h1></div>
      </div>
      <div class="offers-box">
        <div class="box">
          <ng-container *ngFor="let items of jsonData[14]?.webOffers_1">
              <div class="plans">
                <div class="box-info">
                  <h3>{{items.webDesign[0]?.titlePlan}}</h3>
                </div>
                <div class="box-button">
                  <a [href]="items?.webDesign[3]?.url">{{ items.webDesign[2]?.btnLinkOffers }}</a>
                </div>
              </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="work-content">
    <div class="work-title">
      <h1>{{jsonData[4]?.genMenu}}</h1>
    </div>
    <ng-container *ngFor="let item of jsonData[4]?.dropMenu">
      <div class="work-box">
        <div class="img-box">
          <img [src]="'../../../assets/images/work_services/' + item.imgName" alt="">
          <img [src]="'../../../assets/images/work_services/' + item.imgName" alt="">
          <img [src]="'../../../assets/images/work_services/' + item.imgName" alt="">
          <img [src]="'../../../assets/images/work_services/' + item.imgName" alt="">
          <img class="vis-hidden" [src]="'../../../assets/images/work_services/' + item.imgName" alt="">
        </div>
        <div class="work-info">
          <h2>{{item.dropMenuName}}</h2>
          <p>{{item.workDescription}}</p>
          <div class="btn-content">
            <a href="{{item.porfolioLinks}}">{{jsonData[3]?.genMenu}}</a>
            <a [href]="item.offersLinks">{{jsonData[5]?.genMenu}}</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- 3 -->
  <div class="work-content">
    <div class="my-offers">
      <div class="offers-box">
        <div class="tittle" ><h1>{{  jsonData[14]?.webDevOffers}}</h1></div>
      </div>
      <div class="offers-box">
        <div class="box">
          <ng-container *ngFor="let items of jsonData[14]?.webOffers_2">
              <div class="plans">
                <div class="box-info">
                  <h3>{{items.webDevolmpent[0]?.titlePlan}}</h3>
                </div>
                <div class="box-button">
                  <a [href]="items.webDevolmpent[3]?.url">{{ items.webDevolmpent[2]?.btnLinkOffers }}</a>
                </div>
              </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- my works end  -->

<!-- my goals start  -->
<section class="goals-section" id="goals" *ngIf="jsonData$ | async as jsonData">
  <article>
    <!-- logo offers start-->
    <div class="my-offers">
      <div class="offers-box logo-box">
        <div class="tittle" ><h1>{{  jsonData[15]?.offersTitle}}</h1></div>
      </div>
      <div class="offers-box aside">
        <div class="box logo-box">
          <ng-container *ngFor="let items of jsonData[15]?.logoOffers_1">
              <div class="plans">
                <div class="box-info">
                  <h3>{{jsonData[15]?.planStan}}</h3>
                </div>
                <div class="box-button">
                  <a href="logo-design-plans/standart">{{ items.logoDesign[1]?.btnLinkOffers }}</a>
                </div>
              </div>
          </ng-container>
        </div>
        <div class="box logo-box">
          <ng-container *ngFor="let items of jsonData[15]?.logoOffers_2">
              <div class="plans">
                <div class="box-info">
                  <h3 class="title">{{jsonData[15]?.planPrem}}</h3>
                </div>
                <div class="box-button">
                  <a href="logo-design-plans/premium">{{ items.logoDesign[1]?.btnLinkOffers }}</a>
                </div>
              </div>
          </ng-container>
        </div>
        <div class="box logo-box">
          <ng-container *ngFor="let items of jsonData[15]?.logoOffers_3">
              <div class="plans">
                <div class="box-info">
                  <h3>{{ jsonData[15]?.planBuss }}</h3>
                </div>
                <div class="box-button">
                  <a href="logo-design-plans/business">{{ items.logoDesign[1]?.btnLinkOffers }}</a>
                </div>
              </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!-- logo offers end-->
  </article>
  <main>
    <div class="main-content">
      <h1>{{jsonData[8]?.goalsTittle}}</h1>
    </div>
    <div class="main-content">
      <ng-container *ngFor="let item of getGoals">
        <ng-container *ngFor="let itemElements of item; let i=index">
          <div class="mc-box arrL" [ngClass]="'bg_' + i">
            <div class="mc-box-info">
              <p class="goals-title">{{ itemElements.goals }}</p>
              <p class="goals-description">{{ itemElements.goalsDescription }}</p>
            </div>
            <div class="mc-box-icon"><i class="{{ itemElements.goalsIcon }}"></i></div>              
          </div> 
        </ng-container>
      </ng-container>
    </div>
  </main>
  <article>
    <!-- bussines card offers start-->
      <div class="my-offers">
        <div class="offers-box logo-box">
              <div class="tittle" ><h1>{{  jsonData[16]?.offersTitle}}</h1></div>
        </div>
        <div class="offers-box">
          <div class="box">
                <ng-container *ngFor="let items of jsonData[16]?.cardOffers_1">
                    <div class="plans">
                      <div class="box-info">
                        <h3>{{jsonData[16]?.planStan}}</h3>
                      </div>
                      <div class="box-button">
                        <a href="business-cards-plans/standart">{{ items.cardDesign[1]?.btnLinkOffers }}</a>
                      </div>
                    </div>
                </ng-container>
          </div>
          <div class="box">
                <ng-container *ngFor="let items of jsonData[16]?.cardOffers_2">
                    <div class="plans">
                      <div class="box-info">
                        <h3 class="title">{{jsonData[16]?.planPrem}}</h3>
                      </div>
                      <div class="box-button">
                        <a href="business-cards-plans/premium">{{ items.cardDesign[1]?.btnLinkOffers }}</a>
                      </div>
                    </div>
                </ng-container>
          </div>
          <div class="box">
                <ng-container *ngFor="let items of jsonData[16]?.cardOffers_3">
                    <div class="plans">
                      <div class="box-info">
                        <h3>{{ jsonData[16]?.planBuss }}</h3>
                      </div>
                      <div class="box-button">
                        <a href="business-cards-plans/business">{{ items.cardDesign[1]?.btnLinkOffers }}</a>
                      </div>
                    </div>
                </ng-container>
          </div>
        </div>
      </div>
    <!-- bussines card offers end-->
  </article>
</section>
<!-- my goals end -->