<section class="my-services">
    <div class="service"><h1>Уеб Разработка</h1></div>
    <div class="service">
      <div class="service-box"><img src="../../../../../assets/images/services_IMG/web-development.webp" alt=""></div>
      <div class="service-box">
        <p>Добре дошли в нашата компания за уеб разработка! Ние предлагаме иновативни технологични решения, които ще превърнат вашата визия в реалност и ще подобрят вашето онлайн присъствие. Разбираме, че всяка организация има уникални нужди, затова предлагаме три плана - Стандарт, Премиум и Бизнес - за да съответстваме на вашите специфични изисквания и бюджет.</p>
        <p>Стандартният план включва базова уеб разработка, която отговаря на основните нужди на вашия бизнес. Премиум планът предлага разширени функционалности и възможности за персонализация, за да уловите интереса на по-голяма аудитория. Бизнес планът обхваща пълен спектър от услуги за уеб разработка, включително напреднали функционалности и опции за персонализация, за да осигури най-доброто потребителско изживяване за клиентите ви.<</p>
        <p>Нашите услуги включват уеб разработка, програмиране, поддръжка и управление на уеб сайтове, SEO оптимизация, разработка на мобилни приложения и много други. Нашите професионални уеб разработчици ще работят с вас от началото до края, за да осигурят, че продуктът отговаря на вашите нужди и очаквания.</p>
        <p>Нашите експерти в областта на уеб разработката са отдадени на всеки елемент от създаването на вашия уеб сайт, от архитектурата и навигацията до функционалността и производителността. Всички наши проекти се разработват с използването на най-новите технологии и практики в областта на уеб разработката.</p>
        <p>Свържете се с нас днес, за да започнете да създавате силно и функционално онлайн присъствие, което ще допринесе за успеха на вашия бизнес и ще ви помогне да сте винаги една стъпка пред конкуренцията!</p>
      </div>
    </div>
    <div class="service">
      <div class="plans">
        <div class="box-info">
          <h2>Стандартен</h2>
        </div>
        <div class="box-button">
          <a href="web-dev-plans/standart">преглед</a>
        </div>
      </div>
      <div class="plans">
        <div class="box-info">
          <h2>Премиум</h2>
        </div>
        <div class="box-button">
          <a href="web-design-plans/premium">преглед</a>
        </div>
      </div>
      <div class="plans">
        <div class="box-info">
          <h2>Бизнес</h2>
        </div>
        <div class="box-button">
          <a href="web-design-plans/business">преглед</a>
        </div>
      </div>
    </div>
  </section>