  <ng-container *ngIf="jsonData$ | async as jsonData">
    <section class="my-services">
      <div class="service"><h1>{{jsonData[24]?.webdev[0]?.title}}</h1></div>
      <div class="service">
        <div class="service-box">  <img [src]="jsonData[24]?.webdev[0]?.img ? '../../../../../assets/images/course_IMG/' + jsonData[24]?.webdev[0]?.img : ''" alt=""></div>
        <div class="service-box">  
          <p *ngFor="let item of jsonData[24]?.webdev[0].paragrahps">{{item.paragraph}}</p>
        </div>
      </div>
      <div class="service">
        <div class="plans" *ngFor="let item of jsonData[24]?.webdev[0].packages">
          <div class="box-info"><h2>{{item.title}}</h2></div>
          <div class="box-button"><a [href]="item.link">{{item.btnName}}</a></div>
        </div>
      </div>
    </section>
  </ng-container>